---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: testbed
  namespace: flux-system
spec:
  interval: 1m0s
  ref:
    branch: main
  secretRef:
    name: flux-system
  url: ssh://git@github.com/ellistarn/testbed
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: testbed
  namespace: flux-system
spec:
  interval: 1m0s
  path: ./config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  validation: client
